
body { font-family: "Roboto",sans-serif;

font-size: 1rem;
line-height: 1.2;

}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}



/* HEADER */


.header__logo {

	 
    padding: 10px;

}



/* LOCALISATION*/




.Localisation__section__background {

	background: #eaeaea;
	padding: 1rem 0rem;
}


.localisation__wrapper-icon {
margin-right: 1rem;

}

/* RESERVATION */





.Reservation__section__header__title{

	font-size: 1.5rem;
font-weight: 701;
line-height: 1.4;

color: #000;
padding-bottom: 10px;
}

.Reservation__section__header__subtitle{
	font-size: 1rem;
font-weight: 400;
line-height: 1.4;

}




.btn{

font-family: "Roboto",sans-serif;
border-radius: 100px;
color: #fff;
box-shadow: 2px 2px 5px 2px rgb(191, 191, 191);
border: none;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
padding: 1rem;
font-size: 1.10rem;
}

.explore__btn{
background: linear-gradient(#9356DC ,#FF79DA );
margin-top: 3rem;

}

.explore__btn:hover {
background: linear-gradient(#B587EC ,#F59DDD );
margin-top: 3rem;
box-shadow:2px 4px 8px 1px rgb(191, 191, 191);

}



/* FONCTIONNEMENT*/

.Fonctionnement{
padding: 0rem 1rem 5rem 1rem;

}


.Fonctionnement__header-title {
padding: 5rem 5rem 2rem 0;
margin-left: -1rem;

}

.Fonctionnement__header-title h2{

  font-size: 1.5rem;
font-weight: 701;
}

.Fonctionnement__header-box:hover {

  background: #f4edfe;
   transform: scale(1.02);
    transition-duration: 0.2s;}
}

.Fonctionnement__header-box__icon {

	color:#6b6b6b;
	margin-right: 2rem;
}



.Fonctionnement__header__title2 {

	margin-right: 5rem;
  font-size: 1.2rem;
}

.titlemarge {

  margin-right: 3.50rem;
}

.box--chiffre {

position: absolute;
left: -1rem;
background-color: #B118FA;
border-radius: 100px 100px 100px 100px;
padding: 3px;
border: none;
width: 1.50rem;
color: white;
top: 1.4rem;
}

/*Restaurants*/
.Restaurants{

background-color:#f6f6f6;
}

.Restaurants__header-title{
  padding: 5rem 5rem 2rem 0;
margin-left: -1rem;

}


.Restaurants__header-title h2 {
font-size: 1.5rem;
font-weight: 701;

}


.color-grey {
padding: 2rem 7rem 3rem 7.5vw;

}



.Restaurants__bloc__1 {
background: white;
border-radius: 25px 25px 25px 25px;
transition-duration: 0.1s;
cursor: pointer;
padding-bottom: 1rem;
box-shadow: 0 0 16px #0000002e;
position: relative;

}

.Restaurants__bloc__carte__Ticket{

padding: 0.5rem 1.5rem;
color: #4f4e4e;
position: absolute;
right: 1.5rem;
top: 3rem;
background-color: #99E2D0;
border-radius: 5px;
box-shadow: 1px 1px 1px #0000002e;
z-index: 2;
}

.image1 {


}

.Restaurants__bloc--img {
width: 100%;
height: 20rem;
object-fit: cover;
border-radius: 25px 25px 0 0;
z-index: 1;

}

.Restaurants__bloc__carte__image {
position: absolute;
z-index: 1;

}


.Restaurants__bloc--img1{
object-position: bottom;

}


.Restaurants__bloc--img2{
object-position: 0 65%;


}

.Restaurants__bloc--img3{
object-position: 10% 80%;
}

.Restaurants__bloc--img4{

  object-position:  bottom;
}




h3 {

  font-size: 1.25rem;
}

span {

  font-size: 20px;
}




/*Footer*/

.Footer{
padding: 0rem 0rem 5rem 1rem;
background: #383838;
}


.Footer__header {

width: 100%;

}


.Footer__header__title{

  padding-top: 1rem;
  margin-bottom: .5rem;
}

.Footer__header__title span {
font-size: 25px;

}

.Footer__header__title--img{

  width: 40%;
height: 100%;
}

.Footer__list__column {
 color: white;
}


.Footer__list__column__items:hover{

  transform: scale(1.01);
    transition-duration: 0.2s;
    cursor: pointer;

}

.Footer__list__column__items { 
margin-bottom: .5rem;
 }
.Footer__list__column__items--mail {

  text-decoration: none;
color: white;
}