body { font-family: "Roboto",sans-serif;

    font-size: 1rem;
    line-height: 1.2;
    
    }

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/* HEADER */

.header{

	display: flex;
justify-content: center;
padding: 1rem;
}
.header__logo {

	 
   
    
display: flex;
align-items: center;

}


.header__lien{

  color: #000;
    text-decoration: none;
    cursor: pointer;

}

 .header__logo--icon { position: absolute;
left: 1rem; }


.header__menu{
position: relative;

}


.header_menu h4 {
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header__menu__image__restaurants{
width: 100%;

	
}


.header__menu__image {   

   
    width: 100%;
    height: 30rem;
    object-fit: cover;


}

.Restaurants__bloc_text1 {
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
        background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restaurants__bloc__carte__wrapper-icon{

  display: flex;
align-items: center;
justify-content: center;
width: 2rem;
height: 2rem;
position: absolute;
right: 1rem;
background: #f6f6f6;
}



.restaurants__bloc__carte__wrapper-icon--1{
background: -webkit-linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.restaurants__bloc__carte__wrapper-icon--2{

  transition-duration: .3s;
}

.restaurants__bloc__carte__wrapper-icon--2:hover{
  opacity: 0%;
}
.restaurants__bloc__carte_icon--1 {  
   -webkit-text-fill-color: transparent;
   background-color: #1eab19;
   -webkit-background-clip: text;
}

.restaurants__bloc .fa-heart {

  font-size: 1.65rem;
}


/* RESTAURANT*/



.restaurants{

width: 100%;
position: absolute;
top: 30rem;
border-radius: 50px;


}


.color-grey {
padding: 0rem 1rem 4rem 1rem;
border-radius: 50px;
background: #f6f6f6;
}

.restaurants__menu-title {
    padding: 5rem 0rem 2rem 2.5rem;
    font-family: "Shrikhand",sans-serif;
    font-size: 1.50rem;
    display: flex;
}

.restaurants__menu-title h2 {
   
    font-family: "Shrikhand",sans-serif;
font-size: 35px;
}




.restaurants__bloc__1:hover {
cursor: pointer;


}

.delay1{
  animation-delay: 0.1s;
  
  -webkit-animation-delay:0.1s;
   animation: appearance 1s;
}

.delay2{
animation-delay: 0.2s;

animation: appearance 3s;

}

.delay3{
animation-delay: 0.3s;

animation: appearance 5s;
}



.Restaurants__bloc_text{
display: flex;
flex-direction: column;
padding-left: 1rem;
padding-top: 0.50rem;
line-height: 2rem;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;


}



.Restaurants__bloc_text_2{
display: flex;
justify-content: space-between;
}


.restaurants__bloc__menu> p:hover {
padding-right: 2rem;
font-weight: bold;
 animation: slide 1s forwards;


}

.explore__btn {
    background: linear-gradient(#9356DC ,#FF79DA );
    margin-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}


.Restaurants__bloc_text-menu {
  height: 100%;
font-weight: 300;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.restaurants__bloc__menu__title h3 {

	text-transform: uppercase;
font-weight:500;
border-bottom: solid #99E2D0;
width: 3.20rem;
}



.restaurants__bloc__menu__title {  
     margin-bottom: 1.70rem;
      }


.explore__btn:hover {
background: linear-gradient(#B587EC ,#F59DDD );
margin-top: 3rem;
box-shadow:2px 4px 8px 1px rgb(191, 191, 191);

}







/*Footer*/

.footer{
padding: 0rem 0rem 5rem 1rem;
background: #383838;
}


.footer__header {

width: max-content;

}


.footer__header__title{

  padding-top: 1rem;
  margin-bottom: .5rem;
}

.footer__header__title span {
font-size: 25px;

}

.footer__header__title--img{

  width: 40%;
height: 100%;
}

.footer__list__column {
 color: white;
}


.footer__list__column__items:hover{

  transform: scale(1.01);
    transition-duration: 0.2s;
    cursor: pointer;

}

.footer__list__column__items { 
margin-bottom: .5rem;
 }
.Footer__list__column__items--mail {

  text-decoration: none;
color: white;
}


.footer__list__column__items .fa-utensils{
color: #FFF;
margin-right: .5rem;
}

.footer__list__column__items .fa-hands-helping{
    color: #FFF;
    margin-right: .5rem;
}


.footer__column__link {
    text-decoration: none;
    color: #FFF;
}
/*Keyframe*/


@keyframes appearance {
    0% {
        opacity: 0;
        z-index: -1;
        transform: translateY(1rem);
    }
    
    100% {
        opacity: 1;
        z-index: 0;
        transform: translateY(0);
    }
}
@keyframes slide {

0% {
  transform: translateX(0px);
}

100%  {
  transform: translateX(-4rem);
  opacity:5;}

                  }

@keyframes rotation {

  0%{ transform: rotate(360deg);}
  100%{ transform: rotate(0deg); }
                  }


.restaurants__bloc__1 {  
background-color: #FFF;

height: 70px;
box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
padding: 0 0 0 2.5rem;
border-radius: 0.75rem;
margin: 1rem 0;
margin-bottom: 2rem;
display: flex;
justify-content: space-between;
overflow: hidden;
}



.restaurants__bloc__1__menu {
    width: 350px;
    padding: 14px 0;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.header_menu {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
}

.restaurants__bloc__1:hover .header_menu {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.restaurants__bloc__1:hover .header_menu h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.restaurants__bloc__1:hover .header_menu h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header_menu h3 {
    font-size: 16px;
}

.menu_tarifs{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    font-weight: bold;
    margin-right: 20px;
    width: 25%;
}

.restaurants__bloc__1__menu__confirmation {
    background-color: #99E2D0;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -64px;
}



.restaurants__bloc__1:hover .restaurants__bloc__1__menu__confirmation {
    margin-right: 0px;
    min-width: 4rem;
    transition: margin-right 0.5s;
}

.restaurants__bloc__1:hover .circle {
    transform: rotate(360deg);
}
.circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100px;
    background: #FFF;
    color: #99E2D0;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    transition: transform 0.5s;
}
.circle .fas {
    margin-left: 4px;
}
   
     