body { font-family: "Roboto",sans-serif;

    font-size: 1rem;
    line-height: 1.2;
    
    }

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/* HEADER */

.header{

	display: flex;
justify-content: center;
}
.header__logo {

	 
    padding: 10px;

}

.header__logo1{

	height: 4rem;
}


.Header__menu{
position: relative;

}



.Header__menu__image__restaurants{
width: 100%;

	
}


.Header__menu__image {   

   
    width: 100%;
    height: 30rem;
    object-fit: cover;


}

/* RESTAURANT*/
.color-grey { 
	padding: 0rem 1rem 5rem 1rem;
	margin-left: none;  
}



.Restaurants{

width: 100%;
position: absolute;
top: 33rem;
border-radius: 50px;

}

.color-grey {
    padding: 0rem 1rem 5rem 1rem;
    border-radius: 50px;
    background: #f6f6f6;
}

.Restaurants__menu-title{
    padding: 5rem 0rem 2rem 2.5rem;
    margin-left: none;
    font-family: "Shrikhand",sans-serif;
    font-size:1.50rem;
}
.Restaurants__bloc {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 1rem;
grid-row-gap: 0px;


}

.Restaurants__bloc__1 {
background: white;
border-radius: 25px 25px 25px 25px;
transition-duration: 0.1s;
cursor: pointer;
padding-bottom: 1rem;
box-shadow: 0 0 16px #0000002e;
margin-bottom: 1.7rem;
}


.Restaurants__bloc_text{
display: flex;
flex-direction: column;
padding-left: 1rem;
padding-top: 0.50rem;
line-height: 2rem;
}

.Restaurants__bloc__menu__title h3 {

	text-transform: uppercase;
font-weight:500;
}

.Restaurants__bloc__menu__title {  
     margin-bottom: 1.70rem;
      }