



.section_loader {

  display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
position: fixed;
top: 0;
left: 0;

background:rgba(255,255,255,.9);
opacity: 1;
z-index: 10;
animation: loader 4s forwards ;


        
}






.loader-circle {
border-radius: 50px;
  border:5px solid transparent;
  border-top-color: #9356DC;
  
  animation: spin 1s linear infinite;
  
   
     width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

}

.loader-circle:after {
content: '';
position: absolute;
top: 5px;
left: 5px;
bottom: 5px;
right: 5px;
border-radius: 50px;
border: 5px solid transparent;
border-top-color: #99E2D0;

opacity: 0.8;
animation: spin 5s linear infinite
;
  
 
}
.loader-circle:before {
content: '';
position: absolute;
top: 12px;
left: 12px;
bottom: 12px;
right: 12px;
border-radius: 50px;
border: 5px solid transparent;
border-top-color: #FF79DA;
 
opacity: 0.8;
animation: spin 10s linear infinite ;

 
}





@keyframes spin{

  0%{ transform: rotate(0deg);}
  100%{ transform: rotate(360deg); 
  }
  



}

@keyframes loader {




100% {
    opacity:0;
    z-index:-1 ;}
}



